<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="API" stopProcessing="false">
                    <match url="^api(.*)" />
                    <action type="Rewrite" url="/api/index.php?api_path={R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
